@import "tailwindcss";
@import "./theme.css";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-xs: calc(var(--radius) - 4px);
	--radius-sm: calc(var(--radius) - 2px);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius) + 2px);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
}

@layer base {
	*::selection {
		@apply bg-emerald-200 text-emerald-700;
	}

	.dark *::selection {
		@apply bg-emerald-700 text-emerald-200;
	}

	* {
		@apply border-border outline-ring/50;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-background text-foreground antialiased font-sans min-h-dvh flex flex-col overflow-y-scroll;
	}

	main {
		@apply animate-in fade-in-0 duration-200 flex-1 flex flex-col;
	}
}

@layer base {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@layer utilities {
	.container {
		@apply mx-auto w-full max-w-5xl px-4;
	}
}
